Makefile linguist-generated=true
*.graph linguist-generated=true
Makefile linguist-vendored=true
*Makefile* linguist-vendored=true
* linguist-detectable=false
*.cpp linguist-detectable=true
*.h linguist-detectable=true
*.hpp linguist-detectable=true
*.c linguist-detectable=true
